html {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: $font-sec;

  color: #000000;
}
