.hide {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 100%;
  }
}
