<section class="footer">
    <div class="container footer-container">
    <p class="footer__pre-title">homemade ice cream made</p>
    <p class="footer__title">with passion</p>
    <ul class="footer__list">
        <li>
            <a href="https://github.com/" target="_blank"
            rel="noopener noreferrer nofollow">
                <svg class="footer__icon" width="32px" height="32px"><use href="/src/images/icons.svg#icon-github"></use></svg>
            </a>
        </li>
        <li>
            <a href="https://web.telegram.org/" target="_blank"
            rel="noopener noreferrer nofollow">
                <svg class="footer__icon" width="32px" height="32px">
                    <use href="/src/images/icons.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/" target="_blank"
            rel="noopener noreferrer nofollow">
                <svg class="footer__icon" width="32px" height="32px">
                    <use href="/src/images/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
    <p class="footer__contacts">Feel free to contact
        <a href="tel:+61(0)383766284" class="footer__contacts-link">+61 (0) 383 766 284</a>
    </p>
    <div class="copyright-wrap">
        <p class="footer__copyright">&#169 2022 - IceCream.</p>
        <p class="footer__copyright">2022 - IceCream.</p>
    </div>
</div>

</section>