<section class="gallery">
        <div class="container">
                <div class="images gallery">
                        <!-- <li class="images__item"><img src="/src/images/gallery320/gallery1-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery2-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery3-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item images__item--big"><img
                                        src="/src/images/gallery320/gallery4-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery5-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery6-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery7-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery8-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery9-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery10-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                </ul> -->
                        <a href="/src/images/gallery768/gallery1-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery1-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery2-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery2-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery3-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery3-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery4-768-1x-min.jpg"
                                class="images__item images__item--big"><img
                                        src="/src/images/gallery320/gallery4-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery5-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery5-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery6-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery6-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery7-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery7-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery8-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery8-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery9-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery9-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                        <a href="/src/images/gallery768/gallery10-768-1x-min.jpg" class="images__item"><img
                                        src="/src/images/gallery320/gallery10-320-1x-min.jpg" alt=""
                                        class="images__picture"></a>
                </div>

        </div>
</section>