<section class="gallery__section">
        <div class="gallery__container">
                <div class="images gallery">
                        <a href="/src/images/gallery_preview/gallery_pic1.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery1-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery1-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery1-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery1-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery1-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery1-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery1-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 1" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic2.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery2-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery2-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery2-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery2-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery2-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery2-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery2-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 2" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic3.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery3-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery3-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery3-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery3-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery3-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery3-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery3-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 3" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic4.png" class="images__item images__item--big">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery4-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery4-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery4-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery4-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery4-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery4-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery4-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 4" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic5.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery5-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery5-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery5-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery5-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery5-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery5-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery5-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 5" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic6.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery6-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery6-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery6-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery6-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery6-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery6-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery6-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 6" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic7.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery7-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery7-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery7-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery7-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery7-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery7-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery7-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 7" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic8.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery8-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery8-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery8-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery8-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery8-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery8-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery8-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 8" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic9.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery9-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery9-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery9-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery9-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery9-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery9-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery9-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 9" alt="gallery picture" />
                                </picture>
                        </a>
                        <a href="/src/images/gallery_preview/gallery_pic10.png" class="images__item">
                                <picture>
                                        <source srcset="
                        /src/images/gallery1200/gallery10-1200-1x-min.jpg 1x, 
                        /src/images/gallery1200/gallery10-1200-2x-min.jpg 2x" media="(min-width: 1280px)">
                                        <source srcset="
                        /src/images/gallery768/gallery10-768-1x-min.jpg 1x, 
                        /src/images/gallery768/gallery10-768-2x-min.jpg 2x" media="(min-width: 768px)">
                                        <source srcset="
                        /src/images/gallery320/gallery10-320-1x-min.jpg 1x, 
                        /src/images/gallery320/gallery10-320-2x-min.jpg 2x" media="(max-width: 767px)">
                                        <img class="images__picture"
                                                src="/src/images/gallery320/gallery10-320-1x-min.jpg" loading="lazy"
                                                aria-label="gallery picture 10" alt="gallery picture" />
                                </picture>
                        </a>
                </div>


                <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                        <img class="swiper__face"
                                                srcset="/src/images/feedback/girl_1_1x.png 1x, /src/images/feedback/girl_1_2x.png 2x"
                                                src="/src/images/feedback/girl_1_1x.png" alt="girl one">
                                        <div class="swiper__thumb">
                                                <div class="swiper__container">
                                                        <p class="swiper__text">Nullam viverra consectetuer. Quisque
                                                                cursus et,
                                                                porttitor risus. Aliquam sem. In hendrerit nulla quam
                                                                nunc,
                                                                accumsan
                                                                congue. Lorem ipsum primis in nibh vel risus.</p>
                                                </div>
                                        </div>
                                        <svg class="swiper__dots" width="32px" height="4px">
                                                <use href="/src/images/icons.svg#icon-dots"></use>
                                        </svg>
                                        <span class="swiper__name">Lilly, San Diego</span>
                                </div>
                                <div class="swiper-slide">
                                        <img class="swiper__face"
                                                srcset="/src/images/feedback/girl_2_1x.png 1x, /src/images/feedback/girl_2_2x.png 2x"
                                                src="/src/images/feedback/girl_2_1x.png" alt="girl two">
                                        <div class="swiper__thumb">
                                                <div class="swiper__container">
                                                        <p class="swiper__text">Nullam viverra consectetuer. Quisque
                                                                cursus et,
                                                                porttitor risus. Aliquam sem. In hendrerit nulla quam
                                                                nunc,
                                                                accumsan
                                                                congue. Lorem ipsum primis in nibh vel risus.</p>
                                                </div>
                                        </div>
                                        <svg class="swiper__dots" width="32px" height="4px">
                                                <use href="/src/images/icons.svg#icon-dots"></use>
                                        </svg>
                                        <span class="swiper__name">Kate, New York</span>
                                </div>
                                <div class="swiper-slide">
                                        <img class="swiper__face"
                                                srcset="/src/images/feedback/girl_3_1x.png 1x, /src/images/feedback/girl_3_2x.png 2x"
                                                src="/src/images/feedback/girl_3_1x.png" alt="girl three">
                                        <div class="swiper__thumb">
                                                <div class="swiper__container">
                                                        <p class="swiper__text">Nullam viverra consectetuer. Quisque
                                                                cursus et,
                                                                porttitor risus. Aliquam sem. In hendrerit nulla quam
                                                                nunc,
                                                                accumsan
                                                                congue. Lorem ipsum primis in nibh vel risus.</p>
                                                </div>
                                        </div>
                                        <svg class="swiper__dots" width="32px" height="4px">
                                                <use href="/src/images/icons.svg#icon-dots"></use>
                                        </svg>
                                        <span class="swiper__name">Emily, Los Angeles</span>
                                </div>
                        </div>
                        <div class="swiper-pagination"></div>
                </div>
        </div>
</section>