<section class="gallery">
        <div class="container">
                <ul class="images">
                        <li class="images__item"><img src="/src/images/gallery320/gallery1-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery2-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery3-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item images__item--big"><img
                                        src="/src/images/gallery320/gallery4-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery5-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery6-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery7-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery8-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery9-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                        <li class="images__item"><img src="/src/images/gallery320/gallery10-320-1x-min.jpg" alt=""
                                        class="images__picture"></li>
                </ul>

                <div class="button">Button</div>
        </div>
</section>