<section class="header ">
    <div class="container">
        <h3 class="hide">Main header</h3>
        <div class="header__container">

            <a class="header__icon" href="#home">
                <img srcset="/src/images/logo_1x.png 1x, /src/images/logo_2x.png 2x" src="/src/images/logo_1x.png"
                    alt="Logo">
            </a>

            <button type="button" class="header__menu" data-menu-open>
                <svg width="20" height="12" aria-label="mobile menu">
                    <use href="/src/images/icons.svg#icon-burger-1"></use>
                </svg>
            </button>
            <button class="nav__button nav__button--tablet" type="button" data-hdr-open>Buy now<svg
                    class="nav__button--arrow" aria-label="arrow">
                    <use href="/src/images/icons.svg#icon-arrow-r"></use>
                </svg>
            </button>
        </div>
        <div class="nav__menu" data-mobile-menu>
            <button type="button" class="header__menu header__nav" data-menu-close>
                <svg class="header__menu--icon" width="20" height="20" aria-label="mobile menu">
                    <use href="/src/images/icons.svg#icon-close-btn"></use>
                </svg>
            </button>
            <button class="nav__button" type="button" data-hdr-mob-open>Buy now<svg class="nav__button--arrow"
                    aria-label="arrow">
                    <use href="/src/images/icons.svg#icon-arrow-r"></use>
                </svg>
            </button>
            <nav class="nav__list">
                <ul data-mobile-close>
                    <li><a class="nav__link" href="#home">Home</a></li>
                    <li><a class="nav__link" href="#about">About us</a></li>
                    <li><a class="nav__link" href="#howitsmade">How it's made?</a></li>
                    <li><a class="nav__link" href="#products">Our products</a></li>
                    <li><a class="nav__link" href="#contacts">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>