<section class="howitsmade">

  <!-- <picture class="howitsmade_background">
      <source
        srcset="
          ../src/images/How_its_made_png/milk-splash1x_320.png 1x,
          ../src/images/How_its_made_png/milk-splash2x_320.png 2x
        "
        media="(min-width:320)"
      />
      <img
        class="img"
        src="/src/images/How_its_made_png/milk-splash1x_320.png"
        alt="cow's image"
      />
     </picture> -->

  <div class="container">
    <h3 class="howitsmade__pretitle">tradition and love</h3>
    <h2 class="howitsmade__title">how it’s made?</h2>
    <div class="howitsmade__about">
      <picture class="howitsmade__pic--cow">
        <source srcset="
          ../src/images/How_its_made_png/cow1x_1200.png 1x,
          ../src/images/How_its_made_png/cow2x_1200.png 2x
        " media="(min-width:1200px)" />
        <source srcset="
          ../src/images/How_its_made_png/cow1x_768.png 1x,
          ../src/images/How_its_made_png/cow2x_768.png 2x
        " media="(min-width:768px)" />

        <source srcset="
          ../src/images/How_its_made_png/cow1x_320.png 1x,
          ../src/images/How_its_made_png/cow2x_320.png 2x
        " media="(min-width:320px)" />


        <img class="img" src="/src/images/How_its_made_png/cow1x_320.png" alt="cow's image" />
      </picture>
      <div class="howitsmade__text">
        <p class="howitsmade__text--medium">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
          fringilla.
        </p>
        <p class="howitsmade__text--slim">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="howitsmade__button">Read more</button>
      </div>
    </div>



    <ul class="howitsmade__list">
      <li class="howitsmade__items">
        <div class="howitsmade__components">
          <picture class="howitsmade__pic--component">
            <source srcset="
          ../src/images/howitsmade-componetns/component1-320-1x.png 1x,
          ../src/images/howitsmade-componetns/component1-320-2x.png 1x 2x
        " media="(min-width:320)" />
            <img class="img" src="/src/images/howitsmade-componetns/component1-320-1x.png" alt="component image" />
          </picture>

          <span class="howitsmade__components--quantity">721</span>
          <p class="howitsmade__text--bold">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="howitsmade__items">
        <div class="howitsmade__components">
          <picture class="howitsmade__pic--component">
            <source srcset="
          ../src/images/howitsmade-componetns/component2-320-1x.png 1x,
          ../src/images/howitsmade-componetns/component2-320-2x.png 1x 2x
        " media="(min-width:320)" />
            <img class="img" src="/src/images/howitsmade-componetns/component2-320-1x.png" alt="component image" />
          </picture>
          <span class="howitsmade__components--quantity">16kg</span>
          <p class="howitsmade__text--bold">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>

      </li>
      <li class="howitsmade__items">
        <div class="howitsmade__components">
          <picture class="howitsmade__pic--component">
            <source srcset="
          ../src/images/howitsmade-componetns/component3-320-1x.png 1x,
          ../src/images/howitsmade-componetns/component3-320-2x.png 1x 2x
        " media="(min-width:320)" />
            <img class="img" src="/src/images/howitsmade-componetns/component3-320-1x.png" alt="component image" />
          </picture>
          <span class="howitsmade__components--quantity">84</span>
          <p class="howitsmade__text--bold">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
      </li>
    </ul>
  </div>

  <div class="backdrop is-hidden">
    <div class="howitsmade-modal">
      <button type="button" class="modal-close">
        <svg class="modal-close-icon">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <section class="howitsmade-modal__form">
        <h2 class="howitsmade-modal__title">our principles</h2>

        <p class="howitsmade-modal__pre-title">only eco-foodstaff</p>

        <p class="howitsmade-modal__pre-title">the freshest products</p>

        <p class="howitsmade-modal__pre-title"> maximum vitamins</p>



      </section>
    </div>
  </div>

</section>