<section class="locations" id="contacts">
  <div class="container locations-container">
    <h2 class="hide">location</h2>
    <ul class="locations__list">
      <li class="locations__item">
        <div class="locations__item-about">
          <p class="item__about-name">CAFE</p>
          <p class="item__about-place">Chicago</p>
          <p class="item__about-discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="locations__item-shedule">
          <li class="shedule">
            <p class="item__shedule-day">Monday - Friday</p>
            <p class="item__shedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="shedule">
            <p class="item__shedule-day">Saturday - Sunday</p>
            <p class="item__shedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="locations__item-contacts">
          <li><a href="tel:+61(0)383766284" class="item__contacts-link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="item__contacts-link">noreply@envato.com</a></li>
        </ul>
      </li>

      <li class="locations__item">
        <div class="locations__item-about">
          <p class="item__about-name span">FOODTRUCK</p>
          <p class="item__about-place">Los Angeles</p>
          <p class="item__about-discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="locations__item-shedule">
          <li class="shedule">
            <p class="item__shedule-day">Monday - Friday</p>
            <p class="item__shedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="shedule">
            <p class="item__shedule-day">Saturday - Sunday</p>
            <p class="item__shedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="locations__item-contacts">
          <li><a href="tel:+61(0)383766284" class="item__contacts-link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="item__contacts-link">noreply@envato.com</a></li>
        </ul>
      </li>

      <li class="locations__item">
        <div class="locations__item-about">
          <p class="item__about-name">CAFE</p>
          <p class="item__about-place">New York</p>
          <p class="item__about-discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <ul class="locations__item-shedule">
          <li class="shedule">
            <p class="item__shedule-day">Monday - Friday</p>
            <p class="item__shedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="shedule">
            <p class="item__shedule-day">Saturday - Sunday</p>
            <p class="item__shedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="locations__item-contacts">
          <li><a href="tel:+61(0)383766284" class="item__contacts-link">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com" class="item__contacts-link">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="locations__btn">
    <li>

      <button data-loc-open type="button" class="locations__btn-map">Our locations
        <svg class="icon-map" width="15px" height="15px">
          <use href="/src/images/icons.svg#icon-chevron-right"></use>
        </svg>
      </button>
      <div data-loc-modal class="location-backdrop is-hidden">
        <div class="location__modal">
          <iframe class="g-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44131.55812721716!2d-74.05223256052588!3d40.70759734764537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a197c06b7cb%3A0x40a06c78f79e5de6!2z0JLRgdC10LzQuNGA0L3Ri9C5INGC0L7RgNCz0L7QstGL0Lkg0YbQtdC90YLRgCAx!5e0!3m2!1sru!2sua!4v1659967452423!5m2!1sru!2sua"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <button data-loc-close type="button" class="close-loc-button">
            <svg class="close-loc-icon" width="18px" height="18px">
              <use href="/src/images/icons.svg#icon-close-btn"></use>
            </svg>
          </button>
        </div>
      </div>
    </li>
    <li><button data-fran-open type="button" class="franchise__btn">Franchise
        <svg class="icon-franc" width="15px" height="15px">
          <use href="/src/images/icons.svg#icon-chevron-right"></use>
        </svg>
      </button>
      <div data-fran-modal class="franchise__backdrop is-hidden">
        <div class="franchise__modal">
          <button data-fran-close type="button" class="close-button">
            <svg class="close-icon" width="18px" height="18px">
              <use href="/src/images/icons.svg#icon-close-btn"></use>
            </svg>
          </button>
          <p class="franchise__modal-title">Leave your details and we will call you back</p>

          <form action="#" class="franchise__modal-form">
            <div class="franchise__modal-field">
              <label class="modal-label">Name</label>
              <div class="input-wrap">
                <input type="text" class="modal-input" name="user-name" required />
              </div>
            </div>

            <div class="franchise__modal-field">
              <label for="user-tel" class="modal-label">Phone</label>
              <div class="input-wrap">
                <input type="tel" class="modal-input" name="user-tel" id="user-tel" required />
              </div>
            </div>

            <div class="franchise__modal-field">
              <label for="user-email" class="modal-label">E-mail</label>
              <div class="input-wrap">
                <input type="email" class="modal-input" name="user-email" id="user-email" />
              </div>
            </div>

            <div class="franchise__modal-field">
              <label for="user-text" class="modal-label">Comment</label>
              <textarea name="user-text" id="user-text" class="input-text" placeholder="Text"></textarea>
            </div>
            <button type="submit" class="modal-button">Send</button>
          </form>
        </div>
      </div>
    </li>
  </ul>



</section>