<div data-loc-modal class="location-backdrop is-hidden">
    <div class="location__modal">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122966.36268045014!2d-74.11370410232436!3d40.729817876924756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2z0K3QvNC_0LDQudGALdGB0YLQtdC50YIt0LHQuNC70LTQuNC90LM!5e0!3m2!1sru!2sua!4v1660030067164!5m2!1sru!2sua"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
      <button data-loc-close type="button" class="close-loc-button">
        <svg class="close-loc-icon" width="18px" height="18px">
          <use href="/src/images/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>
  </div>


  <div data-fran-modal class="franchise__backdrop is-hidden">
    <div class="franchise__modal">
      <button data-fran-close type="button" class="close-button">
        <svg class="close-icon" width="18px" height="18px">
          <use href="/src/images/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <p class="franchise__modal-title">Leave your details and we will call you back</p>

      <form action="#" class="franchise__modal-form">
        <div class="franchise__modal-field">
          <label class="modal-label">Name</label>
          <div class="input-wrap">
            <input type="text" class="modal-input" name="user-name" required />
          </div>
        </div>

        <div class="franchise__modal-field">
          <label for="user-tel" class="modal-label">Phone</label>
          <div class="input-wrap">
            <input type="tel" class="modal-input" name="user-tel" id="user-tel" required />
          </div>
        </div>

        <div class="franchise__modal-field">
          <label for="user-email" class="modal-label">E-mail</label>
          <div class="input-wrap">
            <input type="email" class="modal-input" name="user-email" id="user-email" />
          </div>
        </div>

        <div class="franchise__modal-field">
          <label for="user-text" class="modal-label">Comment</label>
          <textarea name="user-text" id="user-text" class="input-text" placeholder="Text"></textarea>
        </div>
        <button type="submit" class="modal-button">Send</button>
      </form>
    </div>
  </div>