<section class="locations">
    <div class="container locations-container">
        <h2>location</h2>
            <ul class="locations__list">
                <li class="locations__item">
                    <div class="locations__item-about">
                        <p class="item__about-name">CAFE</p>
                        <p class="item__about-place">Chicago</p>
                        <p class="item__about-discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="locations__item-shedule">
                        <li>
                            <p class="item__shedule-day">Monday - Friday</p>
                            <p class="item__shedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="item__shedule-day">Saturday - Sunday</p>
                            <p class="item__shedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="locations__item-contacts">
                        <li><a href="tel:+61(0)383766284" class="item__contacts-link">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="item__contacts-link">noreply@envato.com</a></li>   
                    </ul>
                </li>

                <li class="locations__item">
                    <div class="locations__item-about">
                        <p class="item__about-name span">FOODTRUCK</p>
                        <p class="item__about-place">Los Angeles</p>
                        <p class="item__about-discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="locations__item-shedule">
                        <li>
                            <p class="item__shedule-day">Monday - Friday</p>
                            <p class="item__shedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="item__shedule-day">Saturday - Sunday</p>
                            <p class="item__shedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="locations__item-contacts">
                        <li><a href="tel:+61(0)383766284" class="item__contacts-link">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="item__contacts-link">noreply@envato.com</a></li>   
                    </ul>
                </li>

                <li class="locations__item">
                    <div class="locations__item-about">
                        <p class="item__about-name">CAFE</p>
                        <p class="item__about-place">New York</p>
                        <p class="item__about-discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="locations__item-shedule">
                        <li>
                            <p class="item__shedule-day">Monday - Friday</p>
                            <p class="item__shedule-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="item__shedule-day">Saturday - Sunday</p>
                            <p class="item__shedule-time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="locations__item-contacts">
                        <li><a href="tel:+61(0)383766284" class="item__contacts-link">+61(0) 383 766 284</a></li>
                        <li><a href="mailto:noreply@envato.com" class="item__contacts-link">noreply@envato.com</a></li>   
                    </ul>
                </li>
            </ul>
    </div>
    <ul class="locations-buttons">
        <li><button type="button">Our Locations</button></li>
        <li><button type="button">Franchise</button></li>
    </ul>
</section>