<section class="locations">
    <div class="container locations-container">
        <h2>location</h2>
            <ul class="locations__list">
                <li class="locations__item">
                    <div class="locations__item-about">
                        <p>CAFE</p>
                        <p>Chicago</p>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="locations__item-shedule">
                        <li>
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="locations__item-contacts">
                        <li>
                            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>

                <li class="locations__item">
                    <div class="location__item-about">
                        <p>FOODTRUCK</p>
                        <p>Los Angeles</p>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="locations__item-shedule">
                        <li>
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="locations__item-contacts">
                        <li>
                            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>

                <li class="locations__item">
                    <div class="locations__item-about">
                        <p>CAFE</p>
                        <p>New York</p>
                        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <ul class="locations__item-shedule">
                        <li>
                            <p>Monday - Friday</p>
                            <p>06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p>Saturday - Sunday</p>
                            <p>08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="locations__item-contacts">
                        <li>
                            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
    </div>
    <ul class="locations-buttons">
        <li><button type="button">Our Locations</button></li>
        <li><button type="button">Franchise</button></li>
    </ul>
</section>