<section class="hdr__backdrop ">
    <h2 class="hide">Header modal window</h2>
    <form class="hdr__modal">
        <button type="button" class="hdr__close" data-hdr-close>
            <svg width="20" height="20" aria-label="close header modal">
                <use class="header__menu--icon" href="/src/images/icons.svg#icon-close-btn"></use>
            </svg>
        </button>
        <h3>Taste Milk Magic</h3>
        <img class="hdr__img" src="/src/images/icecream_splash.png" alt="Ice Cream Splash">
        <label class="hdr__form" aria-label="Name field">
            <span class="form__name">Name</span>
            <input class="form__input" type="text" name="data">
        </label>

        <label class="hdr__form" aria-label="Phone field">
            <span class="form__name">Phone</span>
            <input class="form__input" type="tel" name="data">
        </label>

        <label class="hdr__form" aria-label="Comments field">
            <span class="form__name">Tell us, how much you want it</span>
            <textarea name="data" cols="40" rows="6.5" class="form__input form__input--textarea"></textarea>

        </label>
        <button class="hdr__submit" type="submit" aria-label="submit form">Call me!</button>
    </form>
</section>