<section class="hdr__backdrop is-hidden" data-hdr-modal>
    <h2 class="hide">Header modal window</h2>
    <form class="hdr__modal">
        <button class="hdr__close" type="button" data-hdr-close>
            <svg class="hdr__close-icon" width="20" height="20" aria-label="close header modal">
                <use href="/src/images/icons.svg#icon-close-btn"></use>
            </svg>
        </button>
        <img class="hdr__img" src="/src/images/icecream_splash.png" alt="Ice Cream Splash">
        <div>
            <h3 class="hdr__title">Taste Milk Magic</h3>
            <div class="hdr__container">
                <label class="hdr__form" aria-label="Name field">
                    <input class="form__input" type="text" name="data" placeholder=" " autocomplete="off">
                    <span class="form__name">Name</span>
                </label>

                <label class="hdr__form" aria-label="Phone field">
                    <input class="form__input" type="tel" name="data" placeholder=" " autocomplete="off">
                    <span class="form__name">Phone</span>
                </label>

                <label class="hdr__form" aria-label="Comments field">
                    <textarea name="data" rows="3" class="form__input form__input--textarea" placeholder=" "
                        autocomplete="off"></textarea>
                    <span class="form__name">Tell us, how much you want it</span>
                </label>
                <button class="hdr__submit" type="submit" aria-label="submit form">Call me!</button>
            </div>
        </div>
    </form>
</section>