<div class="backdrop__hero is-hidden" data-hero-modal>
    <div class="hero__modal">
        <button type="button" class="hero__btn-close" data-hero-close>
            <svg class="hero__icon-close">
                <use href="./images/icons.svg#icon-close-btn"></use>
            </svg>

        </button>
        <div class="hero__icon-form">
            <!-- <img class="hero__modal-icon" src="./images/header-hero_png/hero-mod.png" alt="ice cream" /> -->
        </div>
        <p class="hero__modal-text">only the best products</p>
    </div>
</div>