.gallery__section {
  min-width: 320px;

  background: rgba(255, 245, 246, 1);

  @include phone {
    background: linear-gradient(
      to bottom,
      rgba(255, 245, 246, 1) 0%,
      rgba(255, 245, 246, 1) 3%,
      rgba(255, 255, 255, 1) 3%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  @include tablet {
    background: linear-gradient(
      to bottom,
      rgba(255, 245, 246, 1) 0%,
      rgba(255, 245, 246, 1) 18%,
      rgba(255, 255, 255, 1) 18%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  @include desktop {
    background: linear-gradient(
      to bottom,
      rgba(255, 245, 246, 1) 0%,
      rgba(255, 245, 246, 1) 9%,
      rgba(255, 255, 255, 1) 9%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.gallery__container {
  margin: 0 auto;

  @include phone {
    min-width: 320px;
    max-width: 480px;
    padding-bottom: $dist60;
  }

  @include tablet {
    padding-bottom: 80px;
  }

  @include desktop {
    padding-bottom: 120px;
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(7, minmax(43.6px, 1fr));
  grid-template-rows: repeat (7, minmax(43.6px, 1fr));
  grid-gap: 2.5px;

  @include tablet {
    grid-template-columns: repeat(7, minmax(104.65px, 1fr));
    grid-template-rows: repeat (7, minmax(105.15px, 1fr));
    grid-gap: 6px;
  }

  @include desktop {
    grid-template-columns: repeat(7, minmax(138px, 1fr));
    grid-template-rows: repeat (7, minmax(138.7px, 1fr));
    grid-gap: 8px;
  }
}

.images__picture {
  width: 100%;
  border-radius: 8px;

  @include tablet {
    border-radius: 20px;
  }
}

.images__item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 3/5;
}

.images__item:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/4;
}

.images__item:nth-child(3) {
  grid-column: 2/3;
  grid-row: 4/6;
}

.images__item:nth-child(4) {
  grid-column: 3/5;
  grid-row: 1/5;
}

.images__item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 5/7;
}

.images__item:nth-child(6) {
  grid-column: 5/6;
  grid-row: 2/4;
}

.images__item:nth-child(7) {
  grid-column: 5/6;
  grid-row: 4/6;
}

.images__item:nth-child(8) {
  grid-column: 6/7;
  grid-row: 1/3;
}

.images__item:nth-child(9) {
  grid-column: 6/7;
  grid-row: 3/5;
}

.images__item:nth-child(10) {
  grid-column: 7/8;
  grid-row: 2/4;
}

//swiper styles

.mySwiper {
  z-index: 0;
  margin-top: 60px;

  overflow: auto;
  overflow-x: hidden;

  @include phone {
    padding-bottom: 28px;
  }

  @include tablet {
    padding-bottom: 44px;
  }

  @include desktop {
    padding-bottom: 46px;
    margin-top: 120px;
  }
}

.swiper-slide {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    z-index: 1;

    width: 32px;
    height: 4px;

    background-image: url(/src/images/feedback/dots.svg);
    background-repeat: repeat;
    background-size: contain;

    transform: translateX(-50%);

    @include phone {
      bottom: 37px;
    }
    @include tablet {
      bottom: 39px;
    }
    @include desktop {
      bottom: 45px;
    }
  }
}

.swiper__face {
  margin: 0 auto;
}

.swiper__thumb {
  position: relative;
  margin-top: $dist32;
  background-color: getColor('bg-clr7');
  padding: 43px 50px 17px;

  &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 53px;

    width: 54px;
    height: 40px;

    background-image: url(/src/images/feedback/comas_320.svg);
    z-index: 0;
  }
}

.swiper__container {
  position: relative;
  padding: 0 15px;
  @include phone {
    line-height: 32px;

    background: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 31px,
      rgba(225, 225, 225, 1) 31px,
      rgba(225, 225, 225, 1) 32px
    );
  }
  @include tablet {
    line-height: 31.24px;

    background: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 30.24px,
      rgba(225, 225, 225, 1) 30.24px,
      rgba(225, 225, 225, 1) 31.24px
    );
  }
  @include desktop {
    line-height: 30.76px;

    background: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 29.76px,
      rgba(225, 225, 225, 1) 29.76px,
      rgba(225, 225, 225, 1) 30.76px
    );
  }
  line-height: 31px;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 31px,
    rgba(225, 225, 225, 1) 31px,
    rgba(225, 225, 225, 1) 32px
  );
}

.swiper__text {
  display: inline;
  width: 100%;
  @include phone {
    @include font-size(12px, 500, 0px);
  }
  @include tablet {
    @include font-size(14px, 500, 0px);
  }
  @include desktop {
    @include font-size(16px, 500, 0px);
  }
}

.swiper__name {
  display: inline-block;

  @include font-size(14px, 500, 1.86);

  @include phone {
    margin-top: 36px;
  }

  @include tablet {
    margin-top: 24px;
  }

  @include desktop {
    margin-top: 36px;
  }
}

.mySwiper > .swiper-pagination-horizontal {
  bottom: 0;
  z-index: 1;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: getColor('acc-clr3');
}

.swiper-pagination-bullet-active {
  background-image: url(/src/images/feedback/home.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;

  border-radius: 0;
}
