.images {
  display: grid;
  grid-template-columns: repeat(7, minmax(45px, 1fr));
  grid-template-rows: repeat (7, minmax(45px, 1fr));
  grid-gap: 2.5px;
}

.images__picture {
  width: 100%;
}

.images__item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.images__item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.images__item:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.images__item:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.images__item:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.images__item:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}

.images__item:nth-child(7) {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}

.images__item:nth-child(8) {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
}

.images__item:nth-child(9) {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
}

.images__item:nth-child(10) {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
}

.button {
  @include button-white(12px);
}
