.header {
  background-color: getColor('bg-clr2');
  display: flex;
}
.container {
  margin-left: 0;
  margin-right: 0;
}
.header__icon--text {
  font-family: $font-main;
  @include font-size(26px, 400, 1.153, 0.04em);
  text-transform: uppercase;
  color: getColor('main-clr');
}
.header__icon {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 8px;
}
.header__menu--icon {
  fill: firebrick;
}
