.header {
  @include desktop {
    display: flex;
  }
}

.header__container {
  @include toDesktop {
    display: flex;
    align-items: center;
  }
}

.header__menu {
  @include toDesktop {
    margin-left: auto;
    border: none;
    background-color: transparent;
  }
  @include desktop {
    display: none;
  }
}

.header__container > .nav__button--tablet {
  display: none;

  @include tablet {
    display: flex;
    margin: 0 0 0 32px;
    padding-left: 36px;
    padding-right: 36px;

    .nav__button--arrow {
      margin-left: 13px;
    }
  }
}

//mobile menu

.nav__menu {
  @include toDesktop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 250px;
    height: 100vh;
    margin-left: auto;
    padding: 20px;

    background-color: getColor('bg-clr1');
    opacity: 0.4;

    transform: scaleX(0);
    // transform: translateX(100%);
    transform-origin: right;
    transition: transform 250ms linear, opacity 250ms linear;
  }

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 128px;
    width: 100%;
  }
}

.menu-active {
  @include toDesktop {
    transform: scaleX(100%);
    // transform: translateX(0);
    opacity: 1;
  }
}

.header__nav {
  @include toDesktop {
    display: block;
  }
}

.nav__button {
  @include button-white(48.64px);

  @include toDesktop {
    padding-left: 62px;
    margin: 26px auto 0;

    .nav__button--arrow {
      margin-left: 25px;
    }
  }
  @include tablet {
    // margin-top: 24px;
    margin-top: 24px;
    padding-left: 54px;
    padding-right: 54px;

    .nav__button--arrow {
      margin-left: 21px;
    }
  }

  @include desktop {
    margin-left: auto;
  }
}

.nav__list {
  @include toDesktop {
    margin-top: 19px;
  }

  ul {
    @include desktop {
      display: flex;
      gap: 35px;
    }
  }
}

.nav__link {
  @include toDesktop {
    display: block;
    padding-top: 11px;
    padding-bottom: 12px;

    @include font-size(14px, 700, calc(18 / 14));

    color: getColor('font-clr2');
    border-bottom: 1px solid getColor('acc-clr1');

    &:first-child {
      border-top: 1px solid getColor('acc-clr1');
    }
  }

  @include desktop {
    @include font-size(16px, 700, calc(21 / 16));
    color: getColor('font-clr2');

    padding-top: 14px;
    padding-bottom: 14px;

    &:hover,
    &:focus {
      color: getColor('main-clr');
    }
  }
}

.nav__link--active {
  color: getColor('main-clr');
}
