.hero {
  background-image: url('/src/images/header-hero_png/ice-scream1x_320.png'),
    url('/src/images/header-hero_png/eclipse/Ellipse\ 320.png');
  background-repeat: no-repeat;
  background-position: bottom right $dist32, bottom 75px right;
  background-color: getColor('bg-clr2');
}

.hero__container {
  padding-top: 194px;
  padding-bottom: 158px;
}

.hero__header {
  width: 218px;
  font-family: $font-main;
  @include font-size(26px, 400, 1.153, 0.04em);
  text-transform: uppercase;
  color: white;
}

.hero__header > .hero__header--accent {
  font-size: 48px;
  line-height: calc(46 / 48);

  color: getColor('main-clr');
}

.hero__list {
  display: flex;
  gap: 8px;
}

.hero__item .hero__link {
  display: block;
  padding: 7px 12px;

  font-family: $font-sec;
  font-size: 8px;
  line-height: 10px;

  background-color: getColor('main-clr');
  color: white;
  border-radius: 20px;
}

.hero__list .hero__item:last-child .hero__link {
  background-color: white;
  color: getColor('main-clr');
}
