.hero {
  position: relative;
  background-color: getColor('bg-clr2');
  z-index: 1;
  overflow-x: hidden;

  // @include phone {
  //   padding-top: 8px;

  //   // background-image: url('/src/images/header-hero_png/ice-scream1x_320.png'),
  //   //   url('/src/images/header-hero_png/eclipse/Ellipse_320.png');
  //   // background-repeat: no-repeat;
  //   // background-position: bottom right $dist32, bottom 75px right;

  //   // @include bg-adapt {
  //   //   background-image: url('/src/images/header-hero_png/ice-scream2x_320.png'),
  //   //     url('/src/images/header-hero_png/eclipse/Ellipse_320_2x.png');
  //   //   background-size: 171px 410px, 284px 344px;
  //   // }
  // }

  // @include tablet {
  //   padding-top: $dist32;
  //   padding-bottom: 190px;

  //   // background-image: url('/src/images/header-hero_png/ice-scream1x_768.png'),
  //   //   url('/src/images/header-hero_png/eclipse/hero-circle-768_1x.png');
  //   // background-repeat: no-repeat;
  //   // background-position: bottom right 45%, bottom $dist40 left 60%;

  //   // @include bg-adapt {
  //   //   background-image: url('/src/images/header-hero_png/ice-scream2x_768.png'),
  //   //     url('/src/images/header-hero_png/eclipse/hero-circle-768_2x.png');
  //   //   background-size: 143px 336px, 335px 333px;
  //   // }
  // }

  // @include desktop {
  //   padding-top: $dist40;
  //   padding-bottom: 316px;

  //   // background-image: url('/src/images/header-hero_png/ice-scream1x_1200.png'),
  //   //   url('/src/images/header-hero_png/eclipse/hero-circle-1280_1x.png');
  //   // background-repeat: no-repeat;
  //   // background-position: bottom right 30%, bottom 76px right 20%;

  //   // @include bg-adapt {
  //   //   background-image: url('/src/images/header-hero_png/ice-scream2x_1200.png'),
  //   //     url('/src/images/header-hero_png/eclipse/hero-circle-1280_2x.png');
  //   //   background-size: 236px 557px, 534px 534px;
  //   // }
  // }
}

.header {
  min-width: initial;
}

.hero__container {
  position: relative;
  display: flex;

  @include phone {
    padding-top: 194px;
    padding-bottom: 158px;
  }

  @include tablet {
    padding-top: 92px;
    padding-bottom: 190px;
  }

  @include desktop {
    padding-top: 147px;
    padding-bottom: 316px;
  }
}

.hero__left {
  @include phone {
    margin-top: 10px;
  }
}

.hero__header {
  font-family: $font-main;

  text-transform: uppercase;
  color: white;

  @include phone {
    width: 218px;
    @include font-size(26px, 400, 1.153, 0.04em);
  }

  @include tablet {
    width: 162px;
    @include font-size(22px, 400, calc(25 / 22), 0.04em);
  }

  @include desktop {
    width: 277px;
    @include font-size(38px, 400, calc(44 / 38), 0.04em);
  }
}

.hero__header > .hero__header--accent {
  color: getColor('main-clr');

  @include phone {
    font-size: 48px;
    line-height: calc(46 / 48);
  }

  @include tablet {
    font-size: 34px;
    line-height: calc(31 / 34);
  }

  @include desktop {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
}

.hero__side {
  @include phone {
    display: none;
  }
  @include tablet {
    margin-left: auto;
  }
  @include desktop {
    margin-top: 5px;
    margin-left: auto;
  }
}

.side__item {
  margin-left: auto;

  text-align: end;

  background-repeat: no-repeat;
  background-position: top right;

  @include tablet {
    padding-top: 2px;
    padding-right: 10px;

    background-image: url(/src/images/header-hero_png/circle/circle_s_768_1x.png);
    background-size: 16px 16px;

    @include bg-adapt {
      background-image: url(/src/images/header-hero_png/circle/circle_s_768_2x.png);
    }
  }

  @include desktop {
    padding-top: 4px;
    padding-right: 20px;

    background-image: url(/src/images/header-hero_png/circle/circle_s_1280_1x.png);
    background-size: 30px 30px;

    @include bg-adapt {
      background-image: url(/src/images/header-hero_png/circle/circle_s_1280_2x.png);
    }
  }
}

.side__main-text {
  display: block;
  @include font-size(28px, 400, calc(32 / 28), 0.04);
  font-family: $font-main;

  color: getColor('main-clr');

  @include desktop {
    font-size: 46px;
    line-height: calc(53 / 46);
  }
}

.side__text {
  display: block;

  color: getColor('font-clr2');

  @include toDesktop {
    @include font-size(8px, 400, calc(10 / 8));
  }

  @include desktop {
    @include font-size(14px, 400, calc(18 / 14));
  }
}

.hero__list {
  display: flex;
  margin-top: $dist20;
  gap: 8px;
}

.hero__item .hero__link {
  @include button-red(12px);

  @include toDesktop {
    padding: 7px 12px;

    @include font-size(8px, 400, calc(10 / 8));
  }

  @include desktop {
    padding: 11px 23px;

    @include font-size(14px, 400, calc(18 / 14));
  }
}

.hero__list .hero__item:last-child .hero__link {
  @include button-white(12px);

  @include toDesktop {
    padding: 7px 12px;

    @include font-size(8px, 400, calc(10 / 8));
  }

  @include desktop {
    padding: 11px 23px;

    @include font-size(14px, 400, calc(18 / 14));
  }
}

//bg images positioning

.hero__circle {
  position: absolute;

  z-index: -1;

  animation: circle 250ms linear;
  animation-direction: reverse;

  @include phone {
    left: 11%;
    bottom: 75px;

    width: 346px;
    height: 344px;
  }

  @include tablet {
    left: 33%;
    bottom: 40px;

    width: 335px;
    height: 333px;
  }

  @include desktop {
    left: 43%;
    bottom: 77px;

    width: 534px;
    height: 534px;
  }
}

.hero__icecream {
  position: absolute;
  bottom: 0;
  z-index: -1;

  animation: icecream 250ms ease-out;

  @include phone {
    right: 10%;

    width: 171px;
    height: 410px;
  }

  @include tablet {
    right: 40%;

    width: 143px;
    height: 336px;
  }

  @include desktop {
    right: 29%;

    width: 236px;
    height: 557px;
  }
}

//hero bottom part

.hero__text {
  display: none;
  font-family: 'DM Sans';
  font-weight: 400;
  color: #ffffff;
  position: absolute;

  @include tablet {
    display: block;
    width: 114px;
    height: 48px;
    font-size: 8px;
    line-height: 150%;

    left: 184px;
    top: 287px;
  }
  @include desktop {
    display: block;
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 140%;

    left: 229px;
    top: 456px;
  }
}
.hero__container::before {
  animation: icecream 500ms ease-out;
  @include tablet {
    content: '';
    position: absolute;

    background-image: url(../images/header-hero_png/milk1x_768.png);
    background-repeat: no-repeat;
    background-size: 152px 154px;
    width: 152px;
    height: 154px;
    left: $dist32;
    bottom: $dist16;

    @include bg-adapt {
      background-image: url(../images/header-hero_png/milk2x-1_768.png);
    }
  }

  @include desktop {
    content: '';
    position: absolute;

    background-image: url(../images/header-hero_png/milk1x_1200.png);
    background-size: 213px 216px;
    background-repeat: no-repeat;
    width: 213px;
    height: 216px;
    left: $dist16;
    bottom: $dist60;

    @include bg-adapt {
      background-image: url(../images/header-hero_png/milk2x_1200.png);
    }
  }
}

.hero__container::after {
  animation: circle 500ms linear;
  animation-direction: reverse;

  @include tablet {
    content: '';

    position: absolute;
    right: $dist16;
    bottom: 0;

    background-image: url(../images/header-hero_png/tasty1x_768.png);
    background-size: 190px 150px;
    background-repeat: no-repeat;

    width: 190px;
    height: 150px;

    @include bg-adapt {
      background-image: url(../images/header-hero_png/tasty2x_768.png);
    }
  }

  @include desktop {
    content: '';

    position: absolute;
    right: $dist32;
    bottom: 0;

    width: 304px;
    height: 241px;

    background-image: url(../images/header-hero_png/tasty1x_1200.png);
    background-size: 304px 241px;
    background-repeat: no-repeat;

    @include bg-adapt {
      background-image: url(../images/header-hero_png/tasty2x_1200.png);
    }
  }
}
.hero__button {
  border: transparent;
  border-radius: 50%;
  position: absolute;

  &:hover .products__svg,
  &:focus .products__svg {
    fill: #ffffff;
  }
  &:hover,
  &:focus {
    background-color: #d41443;
  }

  @include phone {
    display: none;
  }
  @include tablet {
    width: 18px;
    height: 18px;

    top: 342px;
    left: 184px;
  }
  @include desktop {
    width: 26px;
    height: 26px;

    left: 229px;
    top: 554px;
  }
}
