.howitsmade {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: $dist60;
    padding-bottom: $dist60;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 64px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
  }

  background-color: getColor('bg-clr6');
  background-image: url('/src/images/How_its_made_png/milk-splash1x_320.png');
  background-repeat: no-repeat;
  background-position: 0px 32%;
  width: 100%;
}

.howitsmade_background {
  margin-bottom: 549px;
  z-index: 9;
}

.howitsmade__pretitle {
  @include pre-title;
  font-family: titan one, titan one;
  margin-bottom: 15px;
  color: getColor('bg-clr3');
  text-align: center;
}

.howitsmade__title {
  @include title;
  margin-bottom: 32px;
  font-family: titan one, titan one;
  color: getColor('main-clr');
  text-align: center;
}

.howitsmade__text--medium {
  @include font-size(12, 500, 1.62, null);
  color: inherit;
  padding-right: 60px;
  margin-bottom: 40px;
}

// .howitsmade__text--slim::before {
//   content: '';
//   background-image: url('/src/images/How_its_made_png/milk-splash1x_320.png');
//   background-repeat: no-repeat;
//   background-position: bottom 594px;
//   z-index: 2;
// }

.howitsmade__text--slim {
  @include font-size(12, 500, 1.62, null);
  color: getColor('font-clr1');
  padding-right: 60px;
  margin-bottom: 20px;
}

.howitsmade__items:not(:last-child) {
  margin-bottom: 32px;
}

.howitsmade__components--quantity {
  font-family: titan one, titan one;
  @include font-size(36, 400, 1.14, 0.04em);
  color: getColor('main-clr');
  text-transform: uppercase;
}

.howitsmade__text--bold {
  @include font-size(12, 700, 1.7, null);
  padding-right: 50px;
}

//------------------howitsmade-modal---------------/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.howitsmade-modal {
  outline: purple solid 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 100%;
    @media screen and (min-width: 480px) and (max-width: 1200px) {
      width: 440px;
    }
  }
}

.howitsmade-modal__form {
  padding: 30px;
  height: 500px;
  background-color: getColor(bg-clr1);
}

.howitsmade-modal__title {
  @include title;
  font-family: titan one, titan one;
  text-align: center;
  font-style: 50px;
}

.howitsmade-modal__pre-title {
  @include pre-title;
  font-family: titan one, titan one;
  color: getColor(bg-clr5);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal-close-icon {
  width: 20px;
  height: 20px;
}
