.products {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #FFFFFF;
}

.products__pre-title {
  display: block;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;

  @media screen and(min-width:768px) {
    font-size: 26px;

  }

  @media screen and(min-width:1200px) {
    font-size: 30px;

  }
}

.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 140px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;

  @media screen and(min-width:768px) {
    margin-bottom: 158px;
    font-size: 48px;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 281px;
    font-size: 58px;
  }
}

.products__item {
  margin: auto;

  @media screen and(min-width:768px) {
    display: flex;
    gap: 15px;
  }

  @media screen and(min-width:1200px) {
    gap: 30px;
  }
}

.products__list {
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 489px;
  margin-top: 140px;
  border: transparent;
  border-radius: 24px;

  @media screen and(min-width:768px) {
    margin-top: 0;
    width: 100%;
    min-width: 224px;
    height: 473px;
  }

  @media screen and(min-width:1200px) {
    margin-top: 0;
    width: 100%;
    max-width: 1280px;
    height: 535px;
  }

}

.products__list--backping {
  background-color: #FFB8CA;
}

.products__list--backcapuchino {
  background-color: #F0D1A5;
}

.products__list--backgreen {
  background-color: #C2E297;
}

.products__picture {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -140px;
  left: 0;
  right: 0;

  @media screen and(min-width:1200px) {
    top: -261px;
  }
}

.products__confim {
  padding-top: 165px;
  text-align: center;

  @media screen and(min-width: 768px) {
    padding-top: 118px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 165px;
  }
}

.products__nameice {
  position: relative;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 70px;
}
.products__nameice::after{
content: '';
position: absolute;
background-image: url(/src/images/products_png/Group_products.svg);
width: 26px;
height: 6px;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
}


.products__points {
  display: block;
  color: #FFFFFF;
  padding-bottom: 32px;
}

.products__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.products__button {
width: 40px;
height: 40px;
  margin-top: 32px;
  border: transparent;
  border-radius: 50%;
}
.products__svg {
  fill: #D41443;
}
.products__button:hover .products__svg{
  fill:#FFFFFF;
}
.products__button:hover  {
  background-color: #D41443;
}