.products {
  width: 100%;

  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.products__pre-title {
  display: block;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and(min-width:768px) {
    font-size: 26px;
  }

  @media screen and(min-width:1200px) {
    font-size: 30px;
  }
}

.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 140px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  @media screen and(min-width:768px) {
    margin-bottom: 158px;
    font-size: 48px;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 281px;
    font-size: 58px;
  }
}

.products__item {
  margin: auto;

  @media screen and(min-width:768px) {
    display: flex;
    gap: 15px;
  }

  @media screen and(min-width:1200px) {
    gap: 30px;
  }
}

.products__list {
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 489px;
  margin-top: 140px;
  border: transparent;
  border-radius: 24px;

  @media screen and(min-width:768px) {
    margin-top: 0;
    width: 100%;
    min-width: 224px;
    height: 473px;
  }

  @media screen and(min-width:1200px) {
    margin-top: 0;
    width: 100%;
    max-width: 1200px;
    height: 535px;
  }
}
.products__list.products__list--backping::before {
  @include phone {
    content: '';
    position: absolute;
    top: -140px;
    background-image: url(/src/images/products_png/ice-cream1x_320.png);

    left: 50%;
    transform: translateX(-50%);

    background-size: 280px 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 280px;
    @include bg-adapt {
      background-image: url(/src/images/products_png/ice-cream2x_320.png);
    }
  }

  @include tablet {
    content: '';
    position: absolute;

    background-image: url(/src/images/products_png/ice-cream1x_768.png);

    left: 50%;
    transform: translateX(-50%);
    top: -140px;

    background-size: 224px 224px;
    background-repeat: no-repeat;
    width: 224px;
    height: 224px;

    @include bg-adapt {
      background-image: url(/src/images/products_png/ice-cream2x_768.png);
    }
  }

  @include desktop {
    content: '';
    position: absolute;

    background-image: url(/src/images/products_png/ice-cream1x_1200.png);

    left: 50%;
    transform: translateX(-50%);

    top: -261px;
    background-size: 368px 394px;
    background-repeat: no-repeat;
    width: 368px;
    height: 394px;
    @include bg-adapt {
      background-image: url(/src/images/products_png/ice-cream2x_1200.png);
    }
  }
}
.products__list.products__list--backcapuchino::before {
  @include phone {
    content: '';
    position: absolute;
    background-image: url(/src/images/products_png/ice-coffee1x_320.png);

    left: 50%;
    transform: translateX(-50%);
    top: -140px;

    background-size: 280px 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 280px;

    @include bg-adapt {
      background-image: url(/src/images/products_png/ice-coffee2x_320.png);
    }
  }

  @include tablet {
    content: '';
    position: absolute;

    background-image: url(/src/images/products_png/ice-coffee1x_768.png);

    left: 50%;
    transform: translateX(-50%);
    top: -140px;

    background-size: 224px 224px;
    background-repeat: no-repeat;
    width: 224px;
    height: 224px;

    @include bg-adapt {
      background-image: url(/src/images/products_png/ice-coffee2x_768.png);
    }
  }

  @include desktop {
    content: '';
    position: absolute;

    background-image: url(/src/images/products_png/ice-coffee1x_1200.png);

    left: 50%;
    transform: translateX(-50%);
    top: -261px;

    background-size: 368px 394px;
    background-repeat: no-repeat;
    width: 368px;
    height: 394px;

    @include bg-adapt {
      background-image: url(/src/images/products_png/ice-coffee2x_1200.png);
    }
  }
}
.products__list.products__list--backgreen::before {
  @include phone {
    content: '';
    position: absolute;
    background-image: url(/src/images/products_png/milkshakes1x_320.png);

    left: 50%;
    transform: translateX(-50%);
    top: -140px;

    background-size: 280px 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 280px;

    @include bg-adapt {
      background-image: url(/src/images/products_png/milkshakes2x_320.png);
    }
  }

  @include tablet {
    content: '';
    position: absolute;

    background-image: url(/src/images/products_png/milkshakes1x_768.png);

    left: 50%;
    transform: translateX(-50%);
    top: -140px;

    background-size: 224px 224px;
    background-repeat: no-repeat;
    width: 224px;
    height: 224px;

    @include bg-adapt {
      background-image: url(/src/images/products_png/milkshakes2x_768.png);
    }
  }

  @include desktop {
    content: '';
    position: absolute;

    background-image: url(/src/images/products_png/milkshakes1x_1200.png);

    left: 50%;
    transform: translateX(-50%);
    top: -261px;
    background-size: 368px 394px;

    background-size: 368px 394px;
    background-repeat: no-repeat;
    width: 368px;
    height: 394px;

    @include bg-adapt {
      background-image: url(/src/images/products_png/milkshakes2x_1200.png);
    }
  }
}

.products__list--backping {
  transform: scale(1);
  background-color: #ffb8ca;
}

.products__list--backcapuchino {
  background-color: #f0d1a5;
}

.products__list--backgreen {
  background-color: #c2e297;
}

.products__confim {
  padding-top: 165px;
  text-align: center;

  @media screen and(min-width: 768px) {
    padding-top: 118px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 165px;
  }
}

.products__nameice {
  position: relative;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 70px;
}
.products__nameice::after {
  content: '';
  position: absolute;
  background-image: url(/src/images/products_png/Group_products.svg);
  width: 26px;
  height: 6px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products__points {
  display: block;
  color: #ffffff;
  padding-bottom: 32px;
}

.products__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.products__button {
  width: 40px;
  height: 40px;
  margin-top: 32px;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;

  background-color: #ffffff;
  transition: 250ms linear;
}

.products__svg {
  fill: #d41443;
}
.products__button:hover .products__svg {
  fill: #ffffff;
}
.products__button:hover {
  background-color: #d41443;
}
.backdrop-ice-cream {
  position: absolute;
  background-color: rgba(255, 184, 202, 0.604);
  width: 100%;
  height: 100%;
  border-radius: 24px;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: 250ms linear;
}
.ice-cream-button {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  background-color: transparent;
  border: transparent;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  color: #d41443;
}
.ice-cream-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 184, 201, 0);
  @media screen and (min-width: 480px) {
    max-width: 480px;

    @media screen and (min-width: 320px) and (max-width: 479px) {
      width: 100%;
    }
  }
}

.ice-cream-b,
.ice-coffee-b {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: #cfcfcf;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop-ice-coffee {
  position: absolute;
  background-color: rgba(240, 209, 165, 0.601);
  width: 100%;
  height: 100%;
  border-radius: 24px;
  z-index: 3;

  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: 250ms linear;
}
.ice-coffee-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 480px) {
    max-width: 480px;
    @media screen and (min-width: 320px) and (max-width: 479px) {
      width: 100%;
    }
  }
}
.ice-coffee-button {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  background-color: transparent;
  border: transparent;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  color: #d41443;
}
.backdrop-milkshakes {
  position: absolute;
  background-color: rgba(193, 226, 151, 0.608);
  width: 100%;
  height: 100%;
  border-radius: 24px;
  z-index: 3;

  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: 250ms linear;
}
.milkshakes-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 480px) {
    max-width: 480px;

    @media screen and (min-width: 320px) and (max-width: 479px) {
      width: 100%;
    }
  }
}
.milkshakes-button {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  background-color: transparent;
  border: transparent;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  color: #d41443;
}
.milkshakes-b {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: #cfcfcf;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
